*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html{
  background-color: black;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.App{
  background-image:url('../public/cold-bg.jpg');
  
  background-size:cover ;
  background-position: bottom;
  transition:0.4s ease-out;
  object-fit:cover;
   object-position:50% 50%;
  
  

}
.App.warm{
  background-image:url('../public/warm-bg.jpg') ;
  transition: 0.4s ease-out;
}
main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(41, 40, 40, 0.7));  

  
}
@media  (min-width: 1000px){
  .App{
    margin: 0 auto;
    width: 50%;
    background-image: repeat;
  }
  
}
@media  (min-width: 2000px){
  .App{
    margin: 0 auto;
    width: 30%;
    background-image: repeat;
  }
  
}
.search-box{
  width: 100%;
  margin: 0 0 75px;
}
.search-bar{
  color: white;
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(46, 44, 44, 0.3);
  box-shadow: 0px 3px rgba(255,255,255,0.2);
  transition: 0.4s ease-in;

}
@media  (min-width: 1000px){
  .search-bar{
    margin: 0 auto;
    width: 50%;
  }
}
  @media  (min-width: 1400px){
    .search-bar{
      margin: 0 auto;
      width: 30%;
    }
  }
  

.search-bar:focus{
  background-color: rgba(46,44,44,0.7);

}
.location
{
  color:rgb(253, 253, 253);
  font-size: 2rem;
  font-weight: 500px;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.date{
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px black;
}
.weather-box{
  text-align: center;

}
.temp{
  color: white;
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(211, 211, 211, 0.688);
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 6px  rgba(0, 0, 0, 0.822);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.24);
}
.weather{
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.596);
}