*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.App{
  background-image:url('../public/cold-bg.jpg');
  background-size:cover ;
  background-position: bottom;
  transition: 0.4s ease-out;
  

}
.App.warm{
  background-image:url('../public/warm-bg.jpg') ;
  transition: 0.4s ease-out;
}
main{
  min-height: 100vh;
}